.top{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(35, 30, 104);
    border-radius: 25px;

    
}
p{
    color: aliceblue;
    height: 10px;
}

p{
    display: inline-block;
}

.tanishq{
    margin-top: 220px;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-color: red;
    width: 300px;
    margin-left: 350px;
    width: 350px;
    background-color: yellow;
   
}
button{
    border-color: blue;
    border-style: solid;
    height: 50px;
}